<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stringhunt.game"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>String Hunt</name>

  <description>
      Android version of String Hunt
  </description>

  <author href="https://github.com/frexcuadillera" email="fcuadillera@gmail.com">
      Frex Cuadillera
  </author>

  <icon src="assets/ui/icon.png" />
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="portrait" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
  <allow-navigation href="*" />
  <allow-intent href="*" />

</widget>